.bashrc
.bash_history
.bash_logout
.cache
.cargo
.config/nvim/plugin/packer_compiled.lua
.gitconfig
.landscape
.local
.motd_shown
.profile
.ssh
.sudo_as_admin_successful
.vim
.viminfo
FantasqueSansMono.zip
